@import '../../../../styles/variables.scss';

.MenuSideBarCategory{
    border-radius: 6px;
    color: black;
    height: 80px;
    width: 80px;
    background-color: white;
    border: 1px solid black;
    align-items: center;
    display: flex;
    justify-content: center;
    

    // .MenuSidebarCategory:active{
    //     background-color: #003049;
    //     color: white;
    // }
    // .MenuSidebarCategory:hover{
        
    // }

    p{
        font-size: $bodyFontSize;
        color: black;
    }
}