@import '../../styles/variables.scss';

.NewOrderPage{
    // background-color: red;
}

.Component-Sidebar {
    padding-left: 0rem;
}

.Component-Menucard {
    padding-left: 9.375rem;

}

.Component-Ordertab {
    padding-left: 43.375rem;
    top: 0;
}