@import '../../../../styles/variables.scss';
.PaymentPageCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 10px;
    gap: 20px;
    background-color:white;
    width: 450px;
    height: 100px;
    border-radius: 10px;
    // .PaymentPageCard:active{
    //     background-color: #003049;
    // }

    &--selected{
        background-color: #cdcdcd;
    }
}


.First-Section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;

    h3{
        font-family: 'SF Pro Text';
        font-style: bold;
        font-weight: 700;
        font-size: 16px;
        line-height: 14px;
    }
}

.Second-Section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px;
    gap: 20px;
    .Quantity-Section{
        display: flex;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;

        h3{
            font-family: 'SF Pro Text';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
        }
    }
    .Price-Section{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0px;
        right: 0px;
        h3{
            font-family: 'SF Pro Text';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            margin-right: 10px;
            padding-bottom: 15px;
        }
        button{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 5px 20px;
            gap: 10px;
            margin-bottom: 10px;
            width: 65px;
            height: 24px;
            
            background: red;
            color: white;
            border-radius: 30px;
        }
        button:active{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 5px 20px;
            gap: 10px;
            margin-bottom: 10px;
            width: 65px;
            height: 24px;
            transform: scale(1.2);
            background: red;
            color: white;
            border-radius: 30px;
        }
    }
}

