@import '../../../styles/variables.scss';


.Inside-Login-Form{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.Image-Section{
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    align-items: center;
}

.Container {
    width: 500px;
    border: 1px solid black;
    justify-content: center;
    display: flex;
    flex-direction: row;    
    height: 70vh;
    vertical-align: middle;
    text-align: middle;
    flex-direction: column;    
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Header {
    text-align: Center;
    font-size: $h3FontSize;
}


.Username-Section{
    padding-bottom: 1rem;

}
.Password-Section{
    padding-bottom: 1rem;
}
.Input-Spacing{
    padding-bottom: 1rem;
}

.Text {
    text-align: left;
    color: #212529;
}

.Input-Forms {
    width: 100%;
    border-radius: 4px;
    border-color: #CED4DA;
    padding: 5px;
    ::placeholder {
        color: #6C757D;
        opacity: 1;
      }
}

.Button{
    background-color: black;
    color: white;
    width: 100%;
    border-radius: 4px;
    width: 100%;
    height: 5vh;

}
.Button:active{
    background-color:#003049;
    transform: scale(1);    

}