@import '../../../styles/variables.scss';

.MenuSideBar {
    height: 100%;
    width: 175px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fafafa;
    overflow: auto;
    filter: drop-shadow(4px 0px 20px rgba(0, 0, 0, 0.02));
}


.wrapper {
    z-index: 1;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1rem;

}

.back-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.img-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: center;
}