@import '../../../styles/variables.scss';


.DashboardBody{ 
    background-color: #003049;
    min-height: 100vh;    
    padding: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    .Clock--Container{
        display: flex;
        background-color: white;
        border-radius: 50%;
        color: black;
        size: 10px;
        gap: 2rem;
        align-items: center;
    }
    
    .Container{
        display: flex;
        margin-bottom: 30px;
    }

    .Txt-Container{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
    }  
}
